@charset "utf-8";

#font1 {
    color: rgb(255, 0, 81);
    font-size: 24px;
    font-family: Gill Sans Extrabold, sans-serif;
    font-weight: bold;
    text-transform: capitalize;

}

#font2 {
    color: #0026ff;
    font-size: 3rem;
    font-family: "明朝体";
    font-weight: lighter;
    font-style: italic;
}

#layout1 {
    text-align: right;
    line-height: 4em;
}

#layout2 {
    text-align: center;
    line-height: 160%;
}
